      html {
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
      }

      body {
        width: 100vw;
        height: 90%;
        background: white;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        

      }
      
      .canvasWrap {
        display: flex;
        flex-direction: column;
      }

      canvas {
        max-width: 100vw;
        

      }
     
      .clearButtonField{
        display:flex;
        flex-direction: row;
        justify-content: center; 
           }

      .clear{
        
        background-color: #f34255;
        text-decoration: none;
        font-weight: 600;
        font-size:2rem;
        text-align: center;
        width:40vw;
        height: 10vh;
        color: whitesmoke;
        border:0;
        position: fixed;
        bottom: 0;
        z-index:1;
      }

      .clear:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 5vh solid white;
        border-top: 5vh solid transparent;
        border-bottom: 5vh solid transparent;
      }
      .clear:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 5vh solid white;
      border-top: 5vh solid transparent;
      border-bottom: 5vh solid transparent;
      z-index: 2;
      }
      .clear:focus{
        outline:none;
      }
     
     




